:root{
    --primary:#007bff;
    --lightprimary:#0056b3;
    --white:#ffffff;
    --silver:#bcbc9e;
    --defaultLinkColor:#333;
    --yellow:#FFD700;
    --mutted:#777777;
    --whiteBG:#F8FAFC;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'Inter', sans-serif;

} 
body{
    overflow-x: hidden;
}

section {
    margin-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #fff;
    width: 90%;
    margin: auto;
    

}
header{
   padding: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    
}
#logo{
    width: 50%;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 70%;
   
}
.nav-links a{
    color:#444444;
    text-decoration: none;
    
  
}
.nav-links a:hover{
  
    border-bottom:5px solid var(--primary);
}
/* header nav  li a:hover {
    color: red;
    border-bottom: 5px solid red;
} */

.nav-links li{
    list-style: none;
}
.nav-links .hom{
    color:#007bff;
}
.nav-links .log{
    background-color:#007bff;;
    color: #F8FAFC;
    padding: 12px  35px  12px  35px;
    text-align: center;
    border-radius: 8px;
}

/* section home */

#home {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home .principal {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#home .left h1 {
    font-size: 50px;
    

}
button:hover,input[type="submit"]:hover {
    cursor: pointer;
}

span {
    color: #FFD700;
}

#home .left p {
    color: #777777;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 2;
}

#home .stats {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 30px 0;
    margin-top: -50px;
}
#home .img-rigth {
    width: 500px;
    height: 400px;
    border-radius: 30px;
}
#home .stats button {
    margin-top: 50px;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 18px;
}
#home .get-started {
    background-color: #516eff;
    border-radius: 5px;
    border: 1px solid #777777 ; 
    color: #F8FAFC;
}

/* service  */

#services .servs {
    display: flex;
    width: 100%;
    padding: 20px 15px;
    background-color: #516eff;
    justify-content: space-between;
}
#services .left {
    color: #ffffff;
    padding: 40px;
    font-size: 25px;
}
#services .left p {
    font-size: 20px;
    padding: 20px;
}
#services .right {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
 
}

#services .right div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8FAFC;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    margin: 30px;
    color: #777777;
    font-weight: bold;
}
#services .right div img {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}
#services .content-service {
    display: flex;
}
#services .image-doctor {
    background-color:#77777707;
    border-radius: 25px;
    height: 20%;
    margin-right: 50px;
    padding-top: 5%;
    
}
.content-service .chield {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, 50px);
    font-size: 20px;
    margin-left: 50px;
    margin-top: 6%;
    
}
.content-service .chield .title {
    grid-column: 1/3;
    list-style: none;
    text-align: right;
    text-align: center;
    margin-left: 170px;
}


.content-service .chield div {
    display: flex;
} 
.content-service .chield div img {
    width: 25px;
    height: 25px;
}
.content-service .chield div p {
    margin-left: 15px;
}

/* about us */

#about-us {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#about-us  div h2 {
    margin-top: 20px;
    font-size: 50px;
}

#about-us hr {
    width: 100%;
    color: #bebbbb;
}

#about-us .contener {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    gap: 30px ;
    margin: 50px 80px;
}
#about-us .contener div {
    background-color: #F8FAFC;
    padding: 30px;
    color: var(--muted);
    border-radius: 15px;
    border: solid #bcbc9e 1px;
}
#about-us .contener div img {
    width: 80px;
    height: auto;
}
#about-us .contener h4 {
    color: black;
    padding: 10px;
    font-size: 18px;
}
#about-us .contener p {
    font-size: 15px;
    line-height: 22px;
}

.h4-mod{
    margin-top: 20px;
}
.p-mod{
    margin-top: 0px;
}
.img-mod{
    margin-top:20px ;
}
/* Code CSS de la section */
#Live-history {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding: 20px 15px;
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    color: #ffffff;
    
}
#section-blue div {
    width: max-content;
    text-align: center;
}
#section-blue div h2 {
    padding-bottom: 30px;
    font-weight: normal;
}
#section-blue div h2 span {
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
}
#section-blue div p {
    line-height: 25px;
    font-size: 15px;
}
#section-blue div button {
    padding: 20px 50px;
    background-color: transparent;
    border-radius: 10px;
    color: #ffffff;
    border: #ffffff solid 1px;
    margin-top: 40px;
}
.glorius {
    width: 90%;
}
.glorius div {
    display: flex;
    justify-content: space-between;
    
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 0px;
}
.glorius div h2 {
    font-size: 35px;
    margin-top: -15px;
}
.glorius hr {
    margin-right: 150px;
}

.glorius h2 {
    font-size: 40px;
    text-align: right;
    margin-top: -35px;

}
#Live-history .history {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  
}
#Live-history .history img {
    width: 450px;
    margin-top: 50px;  
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#Live-history .history div {
    width: 500px;
    padding: 40px;
    margin-left: 50px;
    background-color: #F8FAFC;
    border: #777777 solid 1px;
    margin-top: 50px;
    border-radius: 10px;
    height: max-content;
    border: #bcbc9e solid 1px;
    color: #777777;
    line-height: 25px;
    font-size: 14px;
}
#Live-history .history div h2 {
    margin-bottom: 20px;
}

#Live-history div h1 {
    margin-top: 20px;
    font-size: 50px;
}

#Live-history hr {
    width: 100%;
    color: #bebbbb;
}
/* sectio */
#docteur{
    margin-top: 10px;
    display: flex;
    /* background-color: #F8FAFC; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
#docteur .meet {
    width: 90%;
    margin-top: 1%;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
}
#docteur div h5 {
    margin-top: 20px;
    font-size: 50px;
}


#docteur hr {
    width: 100%;
    color: #bebbbb;
}

#docteur .meet div {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
#docteur .meet hr {
    margin-left: 150px;
    margin-top: -20px;
}
#docteur .meet h1 {
    font-size: 30px;
}
#docteur .meet h3 {
    font-size: 40px;
    margin-top: -20px;
}
#docteur .doctors {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center; 
    margin-right: 20px;
}
#docteur .doctors div {
    margin: 50px;
    color: #777777;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #bebbbb;
    border-radius: 10px;
   
}
#docteur .doctors div img {
    width: 180px;
}
#docteur .doctors div h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
    font-weight: normal;
}
#docteur .doctors div button {
    width: 120px;
    padding:  5px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: var(--primary);
    border-radius: 5px;
    border-color: var(--primary);
    border-style: solid;
    cursor: pointer;
}

.section-blue .div-right {
    width: 100px;
    padding: 50px 30px 0px 0px;
    margin: 30px 150px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  

}

.section-blue .div-right div {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.section-blue .div-right div div {
    height: 10px;
    background-color: var(--silver);
    margin: 10px;
    border-radius: 50%;
    font-size: 35px;
    color: transparent;
}
.section-blue .image-left {
    margin: 15px 15px 20px 100px  ;
    background-color: var(--whiteBG);
    padding: 20px;
    color: black;
    border-radius: 5px;
    font-size: 13px;
}
.section-blue .image-left img {
    margin-bottom: 10px;
    width: 200px;
}


/* les 3 points */
.item-main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item{
    background-color: #ccc;
    height: 10px;
    border-radius: 100px;
    width: 10px;
    margin: 8px;
    margin-top: 60px;
  }

  
#renseigner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#renseigner .contener {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}
#renseigner .contener img {
    width: 400px;
    height: 420px;
    border-radius: 20px;
}
#renseigner .contener form {
    display: flex;
    width: 50%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#renseigner  div h1 {
    margin-top: 20px;
    font-size: 50px;
}

#renseigner hr {
    width: 100%;
    color: #bebbbb;
}

.contener  form .form-group input{
    width:100% ;
    padding: 12px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ddd;
}
.contener form .form-group{
    width: 40%;
border-radius: 8px;


}
.form-group .form-doctor{
    width:100% ;
    padding: 12px;
    background: transparent;
    border-radius: 8px;
    border-style: solid;
    border-color: #ddd;
}
textarea{
    width: 83%;
    border-radius: 8px;
    height: 100px;
    resize: none;
    border-style: solid;
    border-color: #ddd;
}
.textarea{
    width: 100%;
}
.div-checkbox{
    display: flex;
    gap: 10px;
}
#checkbox{
height: 20px;

}
#phone{
    padding-left: 58px;
}
#confim{
    width: 83%;
    padding: 10px;
    color: #fff;
    background-color: var(--lightprimary);
    border: none;
    border-radius: 7px;
}
.div-phone{
    position: relative;
    
}
#code{
    position: absolute;
    /* bottom: 30px; */
    background: transparent;
    border: none;
    left: 14px;
    top: 13px;
}



#subscribes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
   background-color: #F8FAFC;
}
#subscribes .subscribe {
    width: 90%;
    background-color: var(--footerBG);
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: var(--white);
    font-size: 20px;
    border-radius: 15px;
    margin: 30px;
    background-color: #216583;
}
#subscribes .subscribe h2{
    font-size: 50px;
}
#subscribes .subscribe form {
    display: flex;
    justify-content: space-between;
}
#subscribes .subscribe input {
    padding: 15px;
    margin: 50px 25px auto 25px;
    border-radius: 5px;
    border: none;
    background-color: #6f8f9c;
    width: auto;
    font-size: 20px;
    color: #fff;
   

}
#subscribes .subscribe input::placeholder{
     color: var(--white);
     font-size: 16px;  

}
#subscribes .subscribe input[type="submit"] {
    background-color: var(--whiteBG);
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    cursor: pointer;
    color: #5a5757;
}


#content{
    background-color: #516eff;
    padding: 90px 0;
    margin-top: 70px;
    width: 110%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    

}
#content .contents{
    width: 90%;
}

div.columns img{
    filter: invert(100%); /* Inverser les couleurs pour changer le noir en blanc */
    filter: brightness(1500%);
    width: 100px;
}
div.columns h1{
color: #ffffff;
}
div.columns h2{
    color:#ffffff ;
}
div.columns p {
color: #ffffff;
}
.sans-bordure {
    border-collapse: collapse;
    color: #ffffff;
  }
  
  .sans-bordure td {
    border: none;
    padding: 10px; /* Ajustez selon vos prÃ©fÃ©rences */
  }
.contents {
    display: flex;
}



.columns {
    flex: 1;
    border-right: 2px solid #ffffff; /* trait vertical */
    padding: 0 20px;
}

.columns:last-child {
    border-right: none; /* enlever le trait vertical de la derniÃ¨re colonne */
}


footer{
    background-color: #216583;
    padding: 20px;
    width: 111%;
    
  }
  footer p{
    text-align: center;
    color: #ffffff;
  }
  .sans-bordure a{
    text-decoration: 0;
    color: #ffffff;
  }
  .feature{
    color: #FFD700;
  }
  .weare{
    color: #FFD700;
  }
  .doct-or{
    color: #FFD700;
  }
  .appoint{
    color: #FFD700;
  }

#Login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 513px;
    width: 100%;
    border: 1px solid ;
}

.back-home {
    display: block;
    text-align: left;
    color: #007BFF;
    text-decoration: none;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"], input[type="password"],input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.forgot-password {
    float: right;
    font-size: 0.9em;
    color: #007BFF;
    text-decoration: none;
}

.remember-me {
    text-align: left;
    /* margin-bottom: 15px; */
    display: flex;
    font-size: 12px;
}
#remember-me{
    height: 20px;
 
}

.login-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    margin-bottom: 15px;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #0056b3;
}

.social-login a {
    display: inline-block;
    margin: 0 10px;
}

.social-login img {
    width: 40px;
    height: 40px;
}

.signup {
    margin-top: 20px;
}

.signup a {
    color: #007BFF;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}



   
   @media ( max-width:964px) {
    .header {
        /* flex-direction: column; */
    }
     #logo{
        width: 40%;
        display: flex;
        justify-content: start;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        display: none;
    }
    .login-container{
        width: 90%;
    }

    .principal {
        flex-direction: column;
        padding: 12px;
        height: fit-content;
       
    }
    
    #home .left h1 {
            font-size: 30px;
            margin: 0 auto;
            margin-top: 0;
            /* margin-bottom: 15px; */
        }
    #home .left p{
            font-size: 15px;
            margin-bottom: 18px;
        }
    #home .image img {
            width: 100%;
            padding: 0;
        }
        /* #home .left {
            margin: 100px 0;
        }     */
    #services .content-service img[alt="doctor-prince"]{
        width: 100%;
        padding: 0;
    }

    .servs {
        flex-direction: column;
        /* text-align: center; */
    }

    .servs .right {
        flex-direction: column;
    }
    #services .content-service {
        display: flex;
        flex-direction: column;
    }
    .content-service .chield {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
 
    #about-us .contener{
        display: flex;
        flex-direction: column;
    }
    #about-us  div h2{
        font-size: 30px;
    }

    #Live-history .history{
        display: flex;
        flex-direction: column;
    }
    #Live-history .history img{
        width: 90%;
        margin: 0 auto;
    }
    #Live-history .history div{
        width: 90%;
        margin: 30px auto;
    }
    #Live-history div h1{
        font-size: 30px;
    }
    
    #docteur .doctors {
        flex-direction: column;
       
    }
    #docteur  div h5{
        font-size: 30px;
    }

    #renseigner hr{
        margin-bottom: 15px;
    }
    #renseigner .contener{
        flex-direction: column;
        margin: 0 auto;
    }
    #renseigner .contener img[alt="image-contact"]{
        width: 60%;
    }
    #renseigner .contener form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        justify-content: center;
        align-items: center;
        margin:0px auto;
        margin-left: 40px;
    }
    #renseigner .contener form input{
        /* width: 83%; */

    }
#name
{
     width: 83%;   
 }
 #phone
 {
        width: 83%;   
   }

#date
{
    width: 83%;   
}
       
       
    
    #renseigner .contener form .form-group{
        width: 100%;
    }
    .form-group .form-doctor{
        width: 83%;
    }
    #confim{
        position: absolute;
        margin-top: 600px;
        width: 70%;
        margin-right: 80px;
        background-color: var(--lightprimary);
        border-radius: 7px;
    }
    #label{
        margin-left: -100px;
        font-size: 20px;
        font-weight: n;
    }
    #checkbox{
        margin-right: 100px;
    }
    #subscribes .subscribe {
        width: 80%;
    }
    #subscribes .subscribe form{
      display: flex;
      flex-direction: column; 
      
      
    }
    #subscribes .subscribe h2{
        font-size: 16px;
    }
    .div-checkbox{
        text-align: left;
    }
   
   
    #content .contents{
        /* display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        font-size: 30px;
         */
         display: flex;
         flex-direction: column;
       
       
    }
    .columns:last-child {
        border-bottom: none; /* enlever le trait vertical de la derniÃ¨re colonne */
    }
    .columns {
      
        border-bottom: 1px solid #ffffff; /* trait vertical */
        /* padding: 0 20px; */
        padding: 40px;
        
        
}
 }
.toggle_menu {
    display: none;
    
}
/* Responsive */
@media (max-width:964px) {
    header nav .nav-links {
        display: none;
    }
    nav {
        padding: 0 20px;
    }
   
    .toggle_menu {
        display: flex;
        height: 40px;
        width: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         cursor: pointer;
    }
    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #000000;
        border-radius: 6px;
        box-shadow: 0 10px 0 #000000;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle_menu.active::before {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 #000000
    }
    .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #000000;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);
      
    }
    header nav .nav-links.responsive {
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
    }
    header nav .nav-links.responsive li {
        margin: 15px 0;
    }

}